.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: $radius;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.home-buttons {
  flex-basis: 49.5%;
  position: relative;
  overflow: hidden;
  font-weight: 100;
  height: 118px;
  width: auto;
  border-radius: $radius;
  font-weight: $font-bold;
  font-family: $font-header;
  font-size: 18px;
  color: $color-light;
  cursor: pointer;
  color: $color-light;

  a {
    text-decoration: none;
    font-size: 24px;
    color: $color-light;
    top: 33%;
    right: 26%;
    position: absolute;
    transition: 0.5s;
    text-align: center;
  }
}

.hidden-text {
  font-size: 15px;
  font-family: $font-text;
  transition: 0.5s;
  opacity: 0;
  top: 70%;
  right: 30%;
  position: absolute;
}

.home-buttons:hover {
  a {
    top: 10%;
  }

  p {
    top: 55%;
  }

  .hidden-text {
    opacity: 1;
  }
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.open-hours {
  position: relative;
  flex-basis: 100%;
  margin: 8px 0;
  border-radius: $radius;
  background-color: $color-main;
  color: $color-light;
  text-align: center;

  h1 {
    margin: 24px 0 0px 0;
    font-size: 28px;
    font-family: $font-header;
  }

  p {
    margin: 0 0 24px 0;
  }
}

.carousel-container {
  margin: 102px 39px;
}

.home-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.carousel-img {
  height: 192px;
  width: 192px;

  img {
    object-fit: cover;
    height: 192px;
    width: 192px;
    border-radius: $radius;
  }
}

.carousel-opinion {
  text-align: left;
  width: 380px;
  height: 192px;
  margin-left: 29px;
  overflow: hidden;
}

.opinion-title {
  font-weight: bold;
}

.opinion-author {
  font-style: italic;
}

.carousel-container {
  margin: 102px 39px;
  //background: lightgreen;
}

.slide {
  position: absolute;
  background: white;
  width: 300px;
  height: 100%;
  opacity: 0;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
}

.carousel-dot {
  border-radius: 50%;
  border: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0, .3);
  justify-content: center;
  margin: 0 6px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: rgba(0,0,0, .75);
}

.home-gallery  {
  margin-top: 77px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.gallery-img {
  flex-basis: 32%;
  height: 195px;
  width: 195px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $radius;
  }
}

.image-overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: black;
  transform: translateY(-103%);
  height: 195px;
  width: 195px;
  border-radius: $radius;

  i {
    position: relative;
    cursor: pointer;
    top: 45%;
    margin-left: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
  }
}

.image-overlay:hover {
  opacity: 0.5;
}

.image-overlay > .fa-heart:hover {
  color: $color-main;
}

.image-overlay > .fa-share-alt:hover {
  color: $color-main;
  opacity: 1;
}

.footer {
  margin-top: 13px;
  
  a {
    color: $color-main;
  }
}